<% layout('layout') -%>
<div class="row">
  <div class="col-12 col-lg-5 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="h3 mb-3">Create Account</h1>
        <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form method="post" action="/signup">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required />
          </div>
          <button class="btn btn-primary" type="submit">Sign Up</button>
          <a class="btn btn-link" href="/login">Already have an account?</a>
        </form>
      </div>
    </div>
  </div>
</div>





